<li class="place" data-id="{{id}}">
    <div class="details touch-size">
        <div class="name">{{name}}</div>
        <div class="description">{{description}}</div>
        <div class="rating">
            <div class="stars">
                {{rating-stars rating}}
            </div>
        </div>
        <div class="images">
            {{#each images}}
            <div class="image touch-color" style="background-image: url({{.}})"></div>
            {{/each}}
        </div>
        <div class="small-description">{{distance}}m away</div>
    </div>
</li>